.container {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

}

.infoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  position: relative;
}


.counter {
  position: fixed;
  transform: translateX(100px);
}

.turn {
  position: fixed;
  transform: translateX(-100px);
}
